html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto Mono', monospace;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* This is where my code starts */

li{
    display:inline-block;
    margin:2%;
    width:20%;
    border-radius: 5%;
    padding:10px;
    color:white;
    text-align:center;
    font-size:1rem;
    
}

.plan{
    background-color: #ff764e;
}
.plan:hover{
    font-size:1.5rem;
    transition:250ms;
}

.learn{
    background-color: #5ED3EB;
}
.learn:hover{
    font-size:1.5rem;
    transition:250ms;
}

.get{
    background-color: #FFCD69;
}

.get:hover{
    font-size:1.5rem;
    transition:250ms;
}

/* This is where the image and the h1 share the same row */
.row{
    margin-top:4%;
    text-align:center;
}

.mainHead{
     width:100%;
     padding-top:5%;
}

.row2{
    padding-left:10%;
    height:30vh;
    width:30%;
    display: inline-block;
}

.img1{
    border-radius: 50%;
    width:75%;
    height:auto;
}

.row2right{
    width:50%;
    display: inline-block;
}

h1{
    font-size:2rem;
    font-family: 'Chelsea Market', cursive;
}

h2{
    display: inline;
    font-size:.8rem;
}
.firstP{
    display: inline-block;
    width:100%;
    font-size:1rem;
}
/* This is where we have the paragraph with a diffrent color background. */

.info{
    width:90%;
    text-align:center;
    background-color: #DDB9A3;
    margin:5%;
}
.info p {
    font-size: .8rem;
    color:white;
    padding:2%;

}
/* This is where the fire logo starts */
.restrictions{
    text-align: center;
    padding-left:5%;
    font-size:.8rem;
}
.fire{
    width:15%;
}

/* This is where the van section is. */

.recommend{
    text-align: center;
    padding-left:5%;
    font-size:.8rem;
}

.van{
    width:20%;
}
/* Mountans */

.mountans{
  background-position: center;
  width:100%;
  height: 40vh;
}
